.background-recipe {
    background-image: url('https://as2.ftcdn.net/v2/jpg/05/95/24/05/1000_F_595240526_BFN9u8MPf9I0Czq5cPT6yCka7y4a5CB8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;

  }
  
  .recipe-banner-text{
    width: 50%;
  }