.background-image {
    background-image: url('https://as1.ftcdn.net/v2/jpg/03/51/66/90/1000_F_351669054_yVMW0YgLHj9fLUBralJk4HMjh7PqxUPm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
  }

  .all-your-food{
    text-align: center;
  }